<div
  *ngIf="isSelfMade"
  class="cars-news-list-item cars-news-list-item--self-made"
>
  <ng-container *ngTemplateOutlet="body"></ng-container>
</div>

<div *ngIf="!isSelfMade" class="cars-news-list-item" [routerLink]="[item.id]">
  <ng-container *ngTemplateOutlet="body"></ng-container>

  <span
    *ngIf="isLast"
    intersectionObservable
    (intersected)="intersected.emit()"
    [oneTime]="true"
  >
  </span>
</div>

<ng-template #body>
  <img
    class="cars-news-list-item__image photo"
    [src]="item.titleImageUrl"
    [alt]="item.title"
  />

  <app-date-label [date]="item.publishedDate" />

  <p class="cars-news-list-item__description">
    {{ item.description }}
  </p>
</ng-template>
