<h1 class="cars-news-list__title page-title">Автомобильные новости</h1>

<section class="cars-news-list__list">
  <app-cars-news-list-item
    *ngFor="let selfMadeItem of selfMadeList(); last as last"
    [isLast]="false"
    [item]="selfMadeItem"
    [isSelfMade]="true"
  ></app-cars-news-list-item>

  <app-cars-news-list-item
    *ngFor="let mainItem of mainList(); last as last"
    [isLast]="last"
    [item]="mainItem"
    [isSelfMade]="false"
    (intersected)="goToNextPage()"
  ></app-cars-news-list-item>

  <ng-container *ngIf="isLoading()">
    <app-loader class="cars-news-list__loader" />
    <app-loader class="cars-news-list__loader" />
    <app-loader class="cars-news-list__loader" />
  </ng-container>
</section>
