@import './../../../assets/styles/variables';

:host {
  max-width: 1440px;
  display: block;
}

.cars-news-list__title {
  margin-bottom: 2.5rem;
}

.cars-news-list__list {
  display: grid;
  justify-items: center;

  gap: 1.5rem;
  
  $item-width: 350px;

  @media (min-width: calc($item-width + 4rem)) {
    grid-template-columns: repeat(auto-fill, minmax($item-width, 1fr));
  }
}

.cars-news-list__loader {
  width: 100px;
  height: 100px;
}