@import './../assets/styles/variables';

:host {
  display: block;
}

.root-element {
  margin: 0 auto;

  padding: {
    left: 1rem;
    right: 1rem;
  };

  @media (min-width: $xs) {
    padding: {
      left: 1.5rem;
      right: 1.5rem;
    };
  }
}

.header-wrapper {
  position: sticky;
  top: 0;
  background: var(--bg-color);

  padding-top: 1rem;

  @media (min-width: $xs) {
    padding-top: 1.5rem;
  }
}

.pages {
  margin-bottom: 1rem;

  @media (min-width: $xs) {
    margin-bottom: 1.5rem;
  }
}

.hr {
  height: calc(2rem / 16);
  background: var(--black-10);

  margin: 1rem 0;

  @media (min-width: $xs) {
    margin: 1.5rem 0;
  }
}