@import './../../../assets/styles/variables';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 1440px;
}

.header__title {
  color: var(--black-100);
  text-align: center;
  
  font: {
    size: $fs_4;
    weight: $fw_light;
  }

  @media (min-width: $xs) {
    font-size: $fs_2;
  }
}
