@import './../../../../assets/styles/variables';

.cars-news-new-success__value {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;

  > img {
    max-height: 10rem;
    object-fit: contain;
  }

  > p {
    font-size: $fs_2;

    @media (min-width: calc($xs * 1.5)) {
      font-size: $fs_1;
    }
  }

  @media (min-width: calc($xs * 1.5)) {
    flex-direction: row;
  }
}
