@import 'assets/styles/styles';

:root {
  --black-100: #202020;
  --black-80: #4B4B4B;
  --black-10: #E0E0E0;
  --black-05: #EBEBEB;
}

* {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
};

img {
  display: block;
}

body, html {
  background: #F5F5F5;
}
