@import 'assets/styles/styles';

:root {
  --black-100: #202020;
  --black-80: #4B4B4B;
  --black-05: #EBEBEB;
  --bg-color: #F5F5F5;
  --link: #526ED3;
}

* {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
};

img {
  display: block;
}

body, html {
  background: var(--bg-color);
}
