.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &[disabled],
  &.disabled {
    &,
    &:hover,
    &:active,
    &:focus {
      user-select: none;
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.btn-black-100 {
  border: none;
  background: var(--black-100);
}

.btn-black-05 {
  border: none;
  background: var(--black-05);
}

.btn-primary {
  @extend .btn-black-100;
  border-radius: 3.75rem;
  padding: 1rem 0.5rem;
  color: #fff;
  width: 100%;;
}

.btn-ball {
  border-radius: 50%;
}

.btn-ball--lg {
  width: 3.75rem;
  height: 3.75rem;
}

.btn-ball--sm {
  width: 2rem;
  height: 2rem;
}

.btn-transparent {
  background: transparent;
  border: none;
}

.btn-dashed {
  border: calc(1rem / 16) dashed var(--link);
  color: var(--link);
  border-radius: 3.75rem;
  padding: 1rem 0.5rem;
}