form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-control {
  border: none;
  padding: 1.5rem 1.5rem 1rem;
  background: var(--black-05);
  border-radius: 2rem;

  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}