@import './variables';

.photo {
  width: 100%;
  border-radius: 2rem;
}

.overflow-hidden {
  overflow: hidden;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.root-element {
  margin: 0 auto;

  padding: {
    left: 1rem;
    right: 1rem;
  };

  @media (min-width: $xs) {
    padding: {
      left: 1.5rem;
      right: 1.5rem;
    };
  }
}